.App {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.App-header {
    padding: 2rem 1rem;
}

.App-logo {
    pointer-events: none;
    width: 40vmin;
}

.App-features {
    position: relative;
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 1rem;
}

.App-features::-webkit-scrollbar {
    display: none;
}

.App-filters {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}